
.gpt3--feature--container{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
    flex-direction: row;
}

.gpt3--feature--container--title{

    flex:1;
    margin-right: 2rem;
}

.gpt3--feature--container--title h1{
    color:white;
    font-family:var(--font-family);
    font-weight:800;
    font-size:18px;
    line-height:24px;
    letter-spacing: -0.04em;
}

.gpt3--feature--container--title div{
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.gpt3--feature--container--content{

    flex:2;
    display: flex;
    color:var(--color-text);
}

.gpt3--feature--container--content p{
    font-family: var(--font-family);
    font-weight:500;
    font-size:14px;
    line-height: 24px;
}